@import "foundation/variables";
@import "foundation/mixins";

/*-----------------------------------
-----------------------------------*/

.aae-widget {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    img {
        @include img;
    }
}
@include keyframes(zoomIn) {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
