@import "foundation/variables";
@import "foundation/mixins";

/*-----------------------------------
-----------------------------------*/

.aae-widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  img {
    @include img;
  }
  a {
    text-decoration: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
@include keyframes(zoomIn) {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.aae-dotted-read-more {
  span {
    @include radius(5px);
    background: $c5625;
    margin-right: 3px;
    animation: zoomIn 1s linear infinite;
    display: inline-block;
    &:first-child {
      margin-left: 10px;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}

/*-----------------------------------
-----------------------------------*/
.aae-accordion__item_content {
  display: none;
}
.advanced_blocks_accordion.type-1 .showed {
  display: none;
}
.aae-accordion {
  font-family: $source;
  .aae-accordion__wrapper {
    .aae-accordion__container {
      .aae-accordion__item {
        border: 1px solid $cc8c8;
        margin-bottom: -1px;
        .aae-accordion__item_title {
          cursor: pointer;
          padding: 7px 15px;
          .aae-accordion__item_icon {
            &__open {
            }
            &__close {
            }
          }
          &__content {
            margin-bottom: 0;
            line-height: 40px;
            font-size: 18px;
            font-weight: $regular;
            color: $c7070;
          }
        }
        &_content {
          padding: 7px 15px;
          font-size: 16px;
          color: $c6666;
          p {
            margin-bottom: 0;
          }
        }
        &.show {
          .aae-accordion__item_title {
            border-bottom: 1px solid $cc8c8;
            .aae-accordion__item_icon {
              &__open {
              }
              &__close {
              }
            }
            &__content {
            }
          }
          &__item_content {
          }
        }
      }
    }
  }
  &.aae-has-accordion-icon {
    &.aae-is-icon-right {
    }
    &.aae-is-icon-left {
    }
  }
}
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
