@import "foundation/variables";
@import "foundation/mixins";

@mixin btnoption($param, $device) {
    .aae-button__wrapper {
        .aae-button__container {
            .aae_btn {
                @if $device == "medium" {
                    @each $name, $glyph in $param {
                        #{$name}: #{$glyph};
                    }
                    padding: 10px 32px;
                } @else if $device == "large" {
                    @each $name, $glyph in $param {
                        #{$name}: #{$glyph};
                    }
                    padding: 12px 20px;
                }
            }
        }
    }
}
$options: (
    "display": "inline-flex",
    "align-items": "center",
    "justify-content": "center",
    "border": "1px solid #2f2f2f",
);
.aae-button {
    .aae-button__wrapper {
        .aae-button__container {
            .aae_btn {
                position: relative;
                @include flexDirection(row, center, center);
                display: inline-flex;
            }
        }
    }
    &.aae-button-medium {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    padding: 10px 35px;
                }
            }
        }
    }
    &.aae-button-large {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    padding: 15px 40px;
                    font-weight: $medium;
                }
            }
        }
    }
    &.aae-solid-button {
        .aae_btn {
            background: #2f2f2f;
            color: $white;
            border: 1px solid #2f2f2f;
        }
    }
    &.aae-bordered-button {
        .aae_btn {
            background: $white;
            color: #2f2f2f;
            border: 1px solid #2f2f2f;
        }
    }
    &.aae-button-exlarge {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    padding: 20px 50px;
                    font-weight: $medium;
                }
            }
        }
    }
    &.aae-button-full-width {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    padding: 15px 50px;
                    font-weight: $medium;
                    width: 100%;
                }
            }
        }
    }
    &.aae-capsul-button {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    border-radius: 30px;
                }
            }
        }
    }
    &.aae-icon-left {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    .aae-button-icon {
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    &.aae-icon-right {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    .aae-button-icon {
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    &.aae-has-btn-shadow {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    box-shadow: 0px 0px 40px rgba($c4381, 0.3);
                }
            }
        }
    }
    &.aae-demo-style1 {
        .aae-button__wrapper {
            .aae-button__container {
                .aae_btn {
                    background: $c4381;
                    border-color: $c4381;
                }
            }
        }
    }
}
