@import "foundation/variables";
@import "foundation/mixins";

body {
  font-family: $source;
}
.aae-post-list {
  &__image {
    max-width: 533px;
    flex: 0 0 533px;
    height: 420px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.aae-overlay {
  position: absolute;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-30 {
  padding-bottom: 30px;
}
$metalist: time, author;
.aae-post-grid {
  &.aae-is-thumbnail-cover {
    &.aae-is-content-hoverable {
      .aae-post-grid__wrapper {
        .aae-post-grid__container {
          &_inner {
            .aae-post-grid__body {
              .aae-post-grid__meta {
                &:hover {
                  @each $metalist in $metalist {
                    .aae-post-grid__meta_#{$metalist} {
                      color: $c5625;
                    }
                  }
                }
              }
              a {
                .aae-post-grid__title {
                  &:hover {
                    color: $c5625;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.aae-team-member {
  &.aae-is-member-image-right {
    .aae-team-member__wrapper {
      .aae-team-member__container {
        box-shadow: 0 0 30px rgba($c6290, 0.1);
        .aae-team-member__image {
          padding-top: 30px;
          padding-left: 30px;
          @include transition(0.3s, linear);
          img {
            border-top-left-radius: 20px;
            vertical-align: bottom;
          }
        }
        .aae-team-member__body {
          .aae-team-member__title {
            font-size: 22px;
            color: $c9956;
          }
          .aae-team-member__designation {
            font-size: 16px;
            color: $cacac;
          }
          .aae-team-member__social_icon {
            li {
              a {
                font-size: 16px;
                color: $white;
                &:hover {
                  color: $c9956;
                }
              }
            }
          }
        }
        &:hover {
          .aae-team-member__image {
            padding-top: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
/*------------------------------------
Testimonial
-----------------------------------*/
.aae-testimonial {
  .aae-testimonial__wrapper {
    .aae-testimonial__container {
      background: $c4381;
      .aae-testimonial__body {
        flex: 1;
        padding-right: 40px;
        .aae-testimonial__content {
          p {
            font-size: 20px;
            color: $white;
            margin-bottom: 0;
          }
        }
        .aae-testimonial__meta {
          padding-top: 20px;
          .aae-testimonial__meta_name {
            font-size: 24px;
            color: $white;
            font-weight: $semibold;
          }
          .aae-testimonial__meta_desc {
            color: $cffdc;
          }
        }
      }
    }
  }
  &.aae-is-thumbnail-left {
    .aae-testimonial__container {
      flex-flow: row-reverse;
      .aae-testimonial__body {
      }
    }
  }
  &.aae-alignment-center {
    .aae-testimonial__container {
      .aae-testimonial__body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &.aae-is-image-top {
    .aae-testimonial__container {
      flex-flow: column-reverse;
    }
  }
  &.aae-testimonial-has-shadow {
    .aae-testimonial__container {
      box-shadow: 0px 10px 30px rgba($c171f, 0.3);
      .aae-testimonial__image {
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(23, 31, 62, 0.3);
      }
    }
  }
  &.aae-has-no-bg {
    .aae-testimonial__container {
      background: $white;

      .aae-testimonial__body {
        .aae-testimonial__content {
          p {
            color: $c9ea2;
          }
        }
        .aae-testimonial__meta {
          .aae-testimonial__meta_name {
            color: $c171f;
          }
          .aae-testimonial__meta_desc {
            color: $c171f;
          }
        }
      }
    }
  }
}
