@import "foundation/variables";

body {
    font-family: $source;
}
.aae-post-list {
    &__image {
        max-width: 533px;
        flex: 0 0 533px;
        height: 420px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.aae-overlay {
    position: absolute;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-30 {
    padding-bottom: 30px;
}
$metalist: time, author;
.aae-post-grid {
    &.aae-is-thumbnail-cover {
        &.aae-is-content-hoverable {
            .aae-post-grid__wrapper {
                .aae-post-grid__container {
                    &_inner {
                        .aae-post-grid__body {
                            .aae-post-grid__meta {
                                &:hover {
                                    @each $metalist in $metalist {
                                        .aae-post-grid__meta_#{$metalist} {
                                            color: $c5625;
                                        }
                                    }
                                }
                            }
                            a {
                                .aae-post-grid__title {
                                    &:hover {
                                        color: $c5625;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*------------------------------------
-----------------------------------*/
