/*-----------------------------------
-----------------------------------*/
.aae-widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .aae-widget img {
    height: auto;
    max-width: 100%; }
  .aae-widget a {
    text-decoration: none; }
  .aae-widget *,
  .aae-widget *::before,
  .aae-widget *::after {
    box-sizing: border-box; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-moz-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-ms-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-o-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.aae-dotted-read-more span {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #5625cc;
  margin-right: 3px;
  animation: zoomIn 1s linear infinite;
  display: inline-block; }
  .aae-dotted-read-more span:first-child {
    margin-left: 10px; }
  .aae-dotted-read-more span:nth-child(2) {
    animation-delay: 0.1s; }
  .aae-dotted-read-more span:nth-child(3) {
    animation-delay: 0.2s; }

/*-----------------------------------
-----------------------------------*/
.aae-button .aae-button__wrapper .aae-button__container .aae_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  display: inline-flex; }

.aae-button.aae-button-medium .aae-button__wrapper .aae-button__container .aae_btn {
  padding: 10px 35px; }

.aae-button.aae-button-large .aae-button__wrapper .aae-button__container .aae_btn {
  padding: 15px 40px;
  font-weight: 500; }

.aae-button.aae-solid-button .aae_btn {
  background: #2f2f2f;
  color: #ffffff;
  border: 1px solid #2f2f2f; }

.aae-button.aae-bordered-button .aae_btn {
  background: #ffffff;
  color: #2f2f2f;
  border: 1px solid #2f2f2f; }

.aae-button.aae-button-exlarge .aae-button__wrapper .aae-button__container .aae_btn {
  padding: 20px 50px;
  font-weight: 500; }

.aae-button.aae-button-full-width .aae-button__wrapper .aae-button__container .aae_btn {
  padding: 15px 50px;
  font-weight: 500;
  width: 100%; }

.aae-button.aae-capsul-button .aae-button__wrapper .aae-button__container .aae_btn {
  border-radius: 30px; }

.aae-button.aae-icon-left .aae-button__wrapper .aae-button__container .aae_btn .aae-button-icon {
  display: inline-block;
  margin-right: 5px; }

.aae-button.aae-icon-right .aae-button__wrapper .aae-button__container .aae_btn .aae-button-icon {
  display: inline-block;
  margin-left: 5px; }

.aae-button.aae-has-btn-shadow .aae-button__wrapper .aae-button__container .aae_btn {
  box-shadow: 0px 0px 40px rgba(67, 129, 253, 0.3); }

.aae-button.aae-demo-style1 .aae-button__wrapper .aae-button__container .aae_btn {
  background: #4381fd;
  border-color: #4381fd; }

.aae-dual-button {
  font-family: "Source Sans Pro", sans-serif; }
  .aae-dual-button .aae-dual-button__wrapper .aae-dual-button__container {
    position: relative; }
    .aae-dual-button .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn {
      padding: 15px 35px;
      font-size: 16px;
      position: relative;
      display: inline-flex; }
    .aae-dual-button .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left {
      margin-right: -3px; }
  .aae-dual-button.aae-dual-button-default .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left {
    background: #222222;
    border: 1px solid #222222;
    color: #ffffff; }
  .aae-dual-button.aae-dual-button-default .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-right {
    border: 1px solid #222222;
    color: #222222; }
  .aae-dual-button.aae-has-button-seperator .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-seperator {
    position: absolute;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #222222;
    color: #ffffff;
    border: 1px solid #ffffff;
    left: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 50; }
  .aae-dual-button.aae-has-no-button-seperator .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-seperator {
    display: none; }
  .aae-dual-button.aae-dual-button-capcul .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; }
    .aae-dual-button.aae-dual-button-capcul .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left .aae-dual-btn-seperator {
      height: 30px;
      width: 30px;
      border-radius: 50%; }
  .aae-dual-button.aae-dual-button-capcul .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; }
  .aae-dual-button.aae-dual-button-rounded .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .aae-dual-button.aae-dual-button-rounded .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left .aae-dual-btn-seperator {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border-radius: 5px; }
  .aae-dual-button.aae-dual-button-rounded .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .aae-dual-button.aae-has-btn-gap .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left {
    margin-right: 30px; }
    .aae-dual-button.aae-has-btn-gap .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left .aae-dual-btn-seperator {
      margin-left: 17px; }
  .aae-dual-button.aae-solid-button .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left {
    background: #5625cc;
    border: none; }
    .aae-dual-button.aae-solid-button .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-left .aae-dual-btn-seperator {
      background: #5625cc; }
  .aae-dual-button.aae-solid-button .aae-dual-button__wrapper .aae-dual-button__container .aae-dual-btn-right {
    background: #ffffff;
    border: none;
    box-shadow: 0px 0px 30px rgba(86, 37, 204, 0.2); }

/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
/*-----------------------------------
-----------------------------------*/
