body {
  font-family: "Source Sans Pro", sans-serif; }

.aae-post-list__image {
  max-width: 533px;
  flex: 0 0 533px;
  height: 420px; }
  .aae-post-list__image img {
    width: 100%;
    height: 100%; }

.aae-overlay {
  position: absolute; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.pt-30 {
  padding-top: 30px; }

.pt-30 {
  padding-bottom: 30px; }

.aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta:hover .aae-post-grid__meta_time {
  color: #5625cc; }

.aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta:hover .aae-post-grid__meta_author {
  color: #5625cc; }

.aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body a .aae-post-grid__title:hover {
  color: #5625cc; }

/*------------------------------------
-----------------------------------*/
