.aae-post-grid__wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .aae-post-grid__wrapper .aae-post-grid__container {
    flex: 0 0 calc(33.33% - 30px);
    max-width: calc(33.33% - 30px);
    width: 100%;
    position: relative; }
    .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body a .aae-post-grid__title {
      font-size: 24px;
      color: #2f2f2f;
      text-transform: uppercase;
      margin: 15px 0 15px 0; }
    .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta {
      margin-bottom: 10px; }
      .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta .aae-post-grid__meta_time {
        color: #878787;
        font-size: 14px; }
      .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta .aae-post-grid__meta_author {
        color: #878787;
        font-size: 14px; }
    .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__content p {
      font-size: 14px;
      color: #727272;
      margin-bottom: 0; }
    .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__read-more {
      font-size: 14px;
      color: #2f2f2f;
      text-decoration: underline;
      margin-top: 20px;
      display: inline-flex;
      text-decoration: none; }

.aae-post-grid.aae-grid-gap-medium .aae-post-grid__container {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px; }

.aae-post-grid.aae-post-grid-is-filterable .aae-filterable {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row; }
  .aae-post-grid.aae-post-grid-is-filterable .aae-filterable li {
    list-style: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px; }
    .aae-post-grid.aae-post-grid-is-filterable .aae-filterable li:not(:last-child) {
      margin-right: 30px; }

.aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner {
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 40px rgba(86, 37, 204, 0.1);
  border-radius: 12px; }
  .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__image {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 12px; }
    .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px; }
  .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 30px 35px 30px;
    width: 100%;
    transition: all 0.4s linear;
    height: initial; }
    .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta {
      margin-bottom: 0px;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transform: translateY(5px);
      transition: all 0.4s linear; }
      .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta > span {
        position: relative; }
        .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta > span:not(:last-child)::after {
          width: 1px;
          background: #acacac;
          height: 80%;
          content: "";
          position: absolute;
          right: -5px;
          bottom: 0; }
      .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta .aae-post-grid__meta_time {
        transition: all 0.3s linear;
        color: #acacac;
        font-size: 14px;
        margin-right: 15px;
        position: relative; }
      .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__meta .aae-post-grid__meta_author {
        transition: all 0.3s linear;
        color: #acacac;
        font-size: 14px;
        margin-right: 15px;
        position: relative; }
    .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body a .aae-post-grid__title {
      transition: all 0.3s linear;
      color: #222222;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 22px;
      margin: 0 0 10px 0; }
    .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__content {
      margin-bottom: 0px;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transform: translateY(5px);
      transition: all 0.4s linear;
      transition-delay: 0.1s; }
      .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__content p {
        color: #666666;
        font-size: 14px; }
    .aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container_inner .aae-post-grid__body .aae-post-grid__read-more {
      display: block;
      margin: 0px;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transform: translateY(5px);
      transition: all 0.4s linear;
      transition-delay: 0.15s;
      text-decoration: none; }

.aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container:hover .aae-post-grid__body .aae-post-grid__meta {
  visibility: visible;
  opacity: 1;
  height: initial;
  transform: translateY(0px);
  margin-bottom: 10px; }

.aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container:hover .aae-post-grid__body .aae-post-grid__content {
  visibility: visible;
  opacity: 1;
  height: initial;
  transform: translateY(0px); }

.aae-post-grid.aae-is-thumbnail-cover.aae-is-content-hoverable .aae-post-grid__wrapper .aae-post-grid__container:hover .aae-post-grid__body .aae-post-grid__read-more {
  visibility: visible;
  opacity: 1;
  height: initial;
  transform: translateY(0px);
  margin-top: 15px; }
