.aae-testimonial .aae-testimonial__wrapper .aae-testimonial__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  padding: 60px 40px 60px 40px;
  border-radius: 26px; }
  .aae-testimonial .aae-testimonial__wrapper .aae-testimonial__container .aae-testimonial__image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden; }
    .aae-testimonial .aae-testimonial__wrapper .aae-testimonial__container .aae-testimonial__image img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover; }
  .aae-testimonial .aae-testimonial__wrapper .aae-testimonial__container .aae-testimonial__body {
    flex: 1;
    padding-right: 40px; }
    .aae-testimonial .aae-testimonial__wrapper .aae-testimonial__container .aae-testimonial__body .aae-testimonial__content p {
      margin-bottom: 0;
      font-weight: 300;
      font-style: italic; }
    .aae-testimonial .aae-testimonial__wrapper .aae-testimonial__container .aae-testimonial__body .aae-testimonial__meta {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: column;
      padding-top: 20px; }
      .aae-testimonial .aae-testimonial__wrapper .aae-testimonial__container .aae-testimonial__body .aae-testimonial__meta .aae-testimonial__meta_name {
        font-weight: 600; }

.aae-testimonial.aae-is-thumbnail-left .aae-testimonial__container {
  flex-flow: row-reverse; }
  .aae-testimonial.aae-is-thumbnail-left .aae-testimonial__container .aae-testimonial__body {
    padding-right: 0;
    padding-left: 40px; }

.aae-testimonial.aae-is-image-bottom .aae-testimonial__container {
  flex-flow: column; }

.aae-testimonial.aae-alignment-center .aae-testimonial__container .aae-testimonial__body {
  padding-left: 0;
  padding-right: 0; }
  .aae-testimonial.aae-alignment-center .aae-testimonial__container .aae-testimonial__body .aae-testimonial__content {
    text-align: center; }
  .aae-testimonial.aae-alignment-center .aae-testimonial__container .aae-testimonial__body .aae-testimonial__meta {
    align-items: center;
    padding-bottom: 20px; }

.aae-testimonial.aae-is-image-top .aae-testimonial__container {
  flex-flow: column-reverse; }
  .aae-testimonial.aae-is-image-top .aae-testimonial__container .aae-testimonial__body {
    flex: 1;
    padding-right: 0px; }
    .aae-testimonial.aae-is-image-top .aae-testimonial__container .aae-testimonial__body .aae-testimonial__content {
      padding-top: 20px; }
    .aae-testimonial.aae-is-image-top .aae-testimonial__container .aae-testimonial__body .aae-testimonial__meta {
      padding-top: 20px; }

.aae-testimonial.aae-testimonial-has-shadow .aae-testimonial__container {
  box-shadow: 0px 10px 30px rgba(23, 31, 62, 0.3); }
  .aae-testimonial.aae-testimonial-has-shadow .aae-testimonial__container .aae-testimonial__image {
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(23, 31, 62, 0.3); }
